body, html {
    height: 98vh;
    background-color: #8eb339;
}

#gameboard {
    display: flex;
    flex-direction: row;
}

#left, #right, #middle {
    display: flex;
    height: 95vh;
    flex-direction: column;
}

#left, #right {
    flex-grow: 1;
    padding: 0.5%;
}

#right {
    width: 10vw;
}

#left {
    width: 20vw;
}

#middle {
    padding: 0.5vw;
    width: 30vw;
    flex-grow: 2;
}

#leftItems, #middleItems, #rightItems {
    min-height: 95vh;
    max-height: 98vh;
    border: 2px solid black;
    background-color: #8eb339;
}

#topic, #buttons, #statbox, #previous {
    padding: 3%;
    height: 46.5%;
    overflow: auto;
    background-color: beige;

}

#topTextBox {
    height: 40vh;
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#bottomTextBox {
    height: 49vh;
    width: auto;
}

#topic, #statbox {
    border-bottom: 2px solid black;
}

#topic, #buttons {
    font-size: 2em;
}

.box {
    border-radius: 5px;
    padding: 1%;
}

#previous {
    vertical-align: text-bottom;
}

#topic, #statbox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#previous, #buttons {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}