body, html {
    height: 98vh;
    background-color: #8eb339;
}

#gameboard {
    display: flex;
    flex-direction: row;
}

#left, #right, #middle {
    display: flex;
    height: 95vh;
    flex-direction: column;
}

#left, #right {
    flex-grow: 1;
    padding: 0.5%;
}

#right {
    width: 10vw;
}

#left {
    width: 20vw;
}

#middle {
    padding: 0.5vw;
    width: 30vw;
    flex-grow: 2;
}

#leftItems, #middleItems, #rightItems {
    min-height: 95vh;
    max-height: 98vh;
    border: 2px solid black;
    background-color: #8eb339;
}

#topic, #buttons, #statbox, #previous {
    padding: 3%;
    height: 46.5%;
    overflow: auto;
    background-color: beige;

}

#topTextBox {
    height: 40vh;
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#bottomTextBox {
    height: 49vh;
    width: auto;
}

#topic, #statbox {
    border-bottom: 2px solid black;
}

#topic, #buttons {
    font-size: 2em;
}

.box {
    border-radius: 5px;
    padding: 1%;
}

#previous {
    vertical-align: text-bottom;
}

#topic, #statbox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#previous, #buttons {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: beige;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-size: 2em;
    border-radius: 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .professorImages {
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}


