.professorImages > p {
    background-color: beige;
    border-radius: 5px;
    font-size: large;
}

.professorImages > img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 1;
}